html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 219, 228);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.header {
  width: 99%;
  height: 10%;
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  align-items: center;
  margin-top: 4px;
}

.date {
  margin: 8px;
}

.heading {
  margin: 8px;
}

.mainBody {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
  margin-bottom: 8px;
}
.col1 {
  margin-left: 8px;
  width: 75%;
  height: 100%;
  display: flex;
}

.col2 {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
  width: 25%;
  height: 100%;
}

.colorAndRadius {
  background-color: white;
  border-radius: 16px;
}

.filter {
  width: 100%;
  height: 15%;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.analytics {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40%;
  margin-bottom: 8px;
}

.createTodo {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logos {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
}

.icon {
  font-size: 20px;
  background-color: pink;
  border-radius: 50%;
  border: none;
  /* padding: 1vh; */
  height: 50px;
  width: 50px;
  outline: none;
}

.icon:hover {
  cursor: pointer;
  box-shadow: 0px 0px 16px 0px black;
}
.filterText {
  text-align: center;
  width: 100%;
  color: black;
  font-size: 25px;
  margin-bottom: 8px;
  font-weight: 700;
}

.grey {
  color: darkgray;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.blue {
  color: cyan;
}

.pink {
  color: rgb(206, 99, 117);
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  background-color: black;
  border: 15px solid white;
  box-shadow: 0px 0px 16px 0px gray;
}

.analyticsText {
  text-align: center;
  /* font-family: "Times New Roman", Times, serif; */
  color: black;
  font-size: 25px;
  margin-bottom: 4px;
  font-weight: 700;
}

.ratio {
  text-align: center;
  /* font-family: "Times New Roman", Times, serif; */
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.percent {
  text-align: center;
  /* font-family: "Times New Roman", Times, serif; */
  color: white;
  font-size: 45px;
  font-weight: 500;
}

.createText {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 98%;
  height: 15%;
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin: 4px;
  margin-bottom: 16px;
}

.addTodo {
  border: 1px solid black;
  border-radius: 16px;
  padding: 8px;
  width: 90%;
  height: 15%;
  margin: 4px;
  font-size: 20px;
  outline: 0;
}

.urgency {
  height: 30%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category {
  height: 30%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  padding: 8px;
  margin: 4px;
  font-size: 22px;
  font-weight: 700;
}

.selector {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  border-radius: 16px;
  height: 40px;
  font-size: 18px;
  outline: 0;
  padding: 8px;
}

.todoList {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: scroll;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

.todo {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: white;
  border-radius: 16px;
  border: none;
  height: 40%;
  width: 25%;
  margin: 8px;
  padding: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
.time {
  text-align: center;
  font-size: 15px;
  margin-bottom: 15px;
}
.edit,
.delete {
  visibility: hidden;
  background-color: darkcyan;
  font-size: 15px;
  border-radius: 15px;
  border: none;
  padding: 8px;
  color: white;
  outline: 0;
}

.edit:hover,
.delete:hover,
.completeButton:hover,
.select:hover,
.notSelect:hover {
  cursor: pointer;
  box-shadow: 0px 0px 16px 0px white;
}

.todo:hover .edit,
.todo:hover .delete {
  visibility: visible;
}

.todoText {
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}

.symbols {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 38px;
  margin-bottom: 15px;
}

.complete {
  text-align: center;
  font-size: 18px;
}

.completeButton {
  font-size: 15px;
  background-color: darkcyan;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 8px;
  outline: 0;
}

.notSelect {
  font-size: 15px;
  min-height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
}

.select {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
}

.alterSelection {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.round {
  height: 38px;
  width: 38px;
  background-color: black;
  color: white;
  outline: none;
  border-radius: 50%;
  padding: 8px;
  margin: 8px;
  font-size: 15px;
}

.round:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px black;
}

.hiddenTextCompleteSelection {
  visibility: hidden;
  position: absolute;
  right: 480px;
  background-color: gray;
  color: white;
  border-radius: 30px;
  padding: 15px;
  font-size: 15px;
}

.hiddenTextIncompleteSelection {
  visibility: hidden;
  position: absolute;
  right: 480px;
  background-color: gray;
  color: white;
  border-radius: 30px;
  padding: 15px;
  font-size: 15px;
}

.hiddenTextDeleteSelection {
  visibility: hidden;
  position: absolute;
  right: 480px;
  background-color: gray;
  color: white;
  border-radius: 30px;
  padding: 15px;
  font-size: 15px;
}

.completeSelection:hover .hiddenTextCompleteSelection {
  visibility: visible;
}

.incompleteSelection:hover .hiddenTextIncompleteSelection {
  visibility: visible;
}

.deleteSelection:hover .hiddenTextDeleteSelection {
  visibility: visible;
}

.myModal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  padding: 16px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  background-color: rgb(209, 209, 209);
  width: 25%;
  height: 60%;
  justify-content: center;
  align-items: center;
}

.modalButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel,
.save {
  height: 80%;
  width: 30%;
  font-size: 16px;
  padding: 16px;
  outline: none;
  margin: 16px;
  border: none;
  border-radius: 50px;
}

.cancel:hover,
.save:hover {
  cursor: pointer;
  box-shadow: 0px 0px 16px 0px black;
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  font-size: 17px;
}

.snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: -30px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: -30px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -30px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 0px;
    opacity: 1;
  }
  to {
    bottom: -30px;
    opacity: 0;
  }
}
